@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  
}

a:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;

}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.section-title {
  font-size: 2.3rem;
  font-weight: normal;
  margin-bottom: 80px;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 20px;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 4% 0;
}

.header-logo img {
  height: 60px;
}

.header-logo img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.header-nav {
  display: flex;
  width: 504px;
  justify-content: space-between;
}

.nav-btn {
  display: none;
}

.header-nav li {
  list-style: none;
  font-size: 1.1rem;
}

#home {
  background-image: url(../image/main.png);
  height: 800px;
  width: 100%;
  background-size: cover;
  position: relative;
}
  
#home h2 {
 text-align: center;
 font-weight: normal;
 font-size: 3rem;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 white-space: nowrap;
}

/* おしらせ */
#info {
  max-width: 700px;
  margin:  80px auto 0;
}
.information li{
  font-size: 1.1rem;
  border-bottom: solid 1px #000;
  line-height: 5rem;
}

.information a {
  text-align: left;
}

.date {
  margin-right: 10px;
}

.info-tag {
  border: #000 1px solid;
  font-size: 0.7rem;
  display: inline-block;
  margin: 0 1.7rem;
  line-height: 1.5rem;
  padding: 0 7px;
}

/* 施工事例 */
#example {
  margin: 150px auto 0;
  text-align: center;
  max-width: 980px;
}

#example ul {
  display: flex;
  justify-content: space-between;
}

.building-img {
  width: 430px;
}

#example p {
  margin: 13px 0;
}

.more {
  width: 300px;
}

.sample-list {
  display: inline-block;
  border: 1px solid #000;
  font-size: 1.3rem;
  padding: 8px 40px;
  margin-top: 80px;
}

#example .more:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* 企業理念/採用情報/お問い合わせ */
#link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  margin-top: 170px;
}

#link img {
  display: block;
}

#link .btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* フッター */
footer {
  background-color: #000;
}

footer a {
  color: #fff;
}

footer p {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-nav {
  display: flex;
  width: 504px;
  justify-content: space-between;
}

.footer-nav li {
  list-style: none;
  font-size: 1.1rem;
}

.footer-logo img{
  height: 39px;
}

/* .footer-logo img:hover {
  opacity: 0.5;
  transition: 0.5s;
} */

/* レスポンシブ */
@media(max-width:943px) {
  /* 共通 */
  .section-title{
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .container {
    overflow: hidden;
  }

  /* ヘッダー */
  #home {
    height: 442px;
    width: 100%;
  }

  .header-logo img {
    height: 40px;

  }

  .header-nav {
    display: none;
  }

  .nav-btn {
    display: block;
    width: 20px;
  }

  #home h2 {
    font-size: 1.5rem;
  }

  /* お知らせ */
  #info {
    width: 91%;
  }

  .date {
    display: block;
    font-size: 0.8rem;
  }

  .information li {
    line-height: 2.3rem;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  /* 施工事例 */
  #example {
    margin-top:100px;
  }

  #example li {
    margin-bottom: 40px;
  }

  #example ul {
    flex-direction: column;
  }

  .building-img {
    width: 91%;
  }

  .sample-list {
    margin-top: 0;
  }

  /* 企業理念/採用情報/お問い合わせ */
  #link {
    margin-top:100px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* フッター */
  .footer {
    flex-direction: column-reverse;
    padding-top: 50px;
    margin-bottom: 20px;
  }

  .footer-nav {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav li {
    margin-bottom: 20px;
  }

  .footer-logo {
    margin-top: 20px;
  }

}
